rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{document} {
      allow create: if true;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if false;
    }

    match /companies/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth.uid == resource.data.created_by;
      allow write: if request.auth.uid == resource.data.created_by;
      allow delete: if false;
    }

    match /bank_catalogue/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /user_permissions/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if request.auth.uid == resource.data.admin_id;
      allow delete: if false;
    }

    match /qr/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.uid;
    }

    match /qr_history/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /sms/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.uid;
    }

    match /sms_history/{document} {
      allow create: if request.auth != null;
      allow read: if false;
      allow write: if false;
      allow delete: if false;
    }

    match /user_invitations/{document} {
      allow create: if request.auth != null;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /cfdi/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /tax_regimes/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /invoices/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /notification/{document} {
      allow create: if false;
      allow read: if request.auth.uid == resource.data.receiver_id;
      allow write: if request.auth.uid == resource.data.receiver_id;
      allow delete: if false;
    }

    match /coupons/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /registra_orden_records/{document} {
      allow create: if false;
      allow read: if request.auth != null;
      allow write: if false;
      allow delete: if false;
    }

    match /giros/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /registraCobro/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.uid;
    }

    match /detallesCobro/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth.uid == resource.data.uid;
    }
  }
}
